
* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #ecf0f3;
}

.container input{
  font-size: 15px;
}

.neu {
  border: none;
  border-radius: 20px;
  box-shadow: 18px 18px 36px #b1b1b1, -18px -18px 36px #ffffff;
  background-color: #ecf0f3;
}
.neu:focus {
  border-radius: 20px;
  box-shadow:inset 15px 15px 30px #b1b1b1,
  inset -15px -15px 30px #ffffff;
}
.signup-button{
  border: none;
  cursor: pointer;
  width: 30%;
  height: 60px;
  border-radius: 30px;
  font-size: 28px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-align: center;
  background: #2487f8;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: 0.5s;
}

.signup-button:hover {
  background: #2fdbb6;
}
.signup-button:active {
  background: #1da88a;
}
.span{
  color: #aaa;
  font-size: 19px;
}
.span:hover{
  color: #2487f8;
  text-decoration: underline;
}
.link {
  padding-top: 30px;
  text-align: center;
}
.link a {
  text-decoration: none;
  color: #aaa;
  font-size: 19px;
}
.link a:hover {
  color: #2487f8;
  text-decoration: underline;
}
@media(max-width: 576px){
  .signup-button{
    width: 50%;
  }
}